@import "variables";

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin container() {
  width: $width-container;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;

  // @media (min-width: $screen_tablet) {
  //   width: $width-container--tablet;
  // }

  // @media (min-width: $screen_desktop) {
  //   width: $width-container--desktop;
  // }
}
@mixin container-mobil() {
  width: $width-container--mobil;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen_tablet) {
    width: $width-container--tablet;
  }

}

// .mock ($height: 100px, $bg: rgba(255, 255, 255, 0.10),
//     $wavesOpacity: 0.5) {
//       height: $height
//
//       background-color: $bg
//       background-image:
//         linear-gradient(135deg, rgba(0, 0, 0, $waveOpacity)25%,
//          transparent 25%),
//         linear-gradient(225deg, rgba(0, 0, 0, $waveOpacity)25%,
//           transparent 25%),
//         linear-gradient(45deg, rgba(0, 0, 0, $waveOpacity)25%,
//            transparent 25%),
//         linear-gradient(315deg, rgba(0, 0, 0, $waveOpacity)25%,
//             transparent 25%)
//       background-position:
//       25px 0,
//       25px 0,
//       0 0,
//       0 0;
//       background-size: 50px 50px
//       background-repeat: repeat
//
//     }
