@import "variables.scss";

@font-face {
  font-family: "OpenSansRegular";

  src: url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";

  src: url("../fonts/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-size: 18px;
  line-height: 27px;
  font-family: Arial, sans-serif;
  color: #000;
  font-style: normal;
  background-color: #f5f8f9;
  margin: 0;
  padding: 0;

}
// body.modal-open {
//     overflow: hidden !important;
// }
img {
  /*min-width: 100%;*/
  height: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
