// @mobile-width-only: ~"(max-width: 767px)";
// @tablet-widths: ~"(min-width: 768px)";
// @desktop-widths: ~"(min-width: 1200px)";

// $font-family--base:         "Open Sans", "Helvetica", "Arial", sans-serif;

// @html-size--base:           16px;
$blue:                         #007ee5;
$black:                        #333333;
$gray:                         #a8b8c4;

// @font-size--small:          0.75rem;
// @font-size--big:            1.125rem;
// @font-size--h1:             1.5rem;
// @font-size--h2:             1.125rem;
//
// @font-weight--base:         400;
//
// @line-height--base:         1.6;
// @line-height--h1:           1.2;
// @line-height--h2:           1.3;

$width-container:           84.5%; // 270px/320px
$width-container--mobil:    88.8%; // 320px/360px
$width-container--tablet:   88.5714285%;  // 620px/700px
$width-container--desktop:  97.9166666%;  // 940px/960px

$screen_mobile:             320px;
$screen_tablet:             768px;
$screen_desktop:            960px;
