@import "mixins";


.header {
  background-color: #f5f8f9;
  @media (min-width: $screen_tablet) {
    background-color: #fff;
  }
  &--op {
    background-color: #f5f8f9;
    padding-top: 15px;
    position: relative;
    @media (min-width: $screen_tablet) {
      display: none;
    }
  }
  &__container {
    @include container-mobil;
  }

  &__login {
    float: right;
    text-transform: uppercase;
    color: $blue;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    margin-top: 40px;
    @media (min-width: $screen_tablet) {
      border: 1px $blue solid;
      border-radius: 2px;
      padding: 5px 10px;
      margin-top: 20px;
    }
  }
  &__uploadImage {
    display: none;
    @media (min-width: $screen_tablet) {
      display: block;
      font-family: "OpenSansRegular";
      color: #858f98;
      background-color: #fff;
      outline: none;
      border: 1px #d0dce7 solid;
      border-radius: 2px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 20px;
      top: 75px;
      cursor: pointer;
      font-size: 15px;
    }
    &--icon {
      font-size: 23px;
      color: #C3CDD6;
      padding-right: 4px;
    }
  }

}
.content {
    margin-right: auto;
    margin-left: auto;
    padding-top: 85px;
    width: 100%;
    text-align: center;
    @media (min-width: $screen_tablet) {
      padding-top: 0;
    }

  &__img {
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    @media (min-width: $screen_tablet) {
      width: 170px;
      height: 170px;
      position: relative;
      left: -22px;
      top: 73px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: -63px;
      z-index: 100;
    }
    & img {

      position: absolute;
      top: 0;
      right: -60px;;
    }
  }
}
.content-item {
  font-size: 0;
  @media (min-width: $screen_tablet) {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  &__left {
    @media (min-width: $screen_tablet) {
    padding-left: 170px;
    padding-bottom: 10px;
    width: 50%;
  }
  }
  &__heading {
    font-size: 20px;
    line-height: 24px;
    color: $black;
    font-family: 'open_sanssemibold';
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    @media (min-width: $screen_tablet) {
      text-align: left;
    }
  }
  &__phone {
    color: $gray;
    font-size: 12px;
    line-height: 22px;
    font-family: "OpenSansRegular";
    margin-bottom: 10px;
    @media (min-width: $screen_tablet) {
      color: #3f454a;
    }

    &--icon {
      font-size: 18px;
      @media (min-width: $screen_tablet) {
        color: $gray;
      }
    }

  }
  &__cityName {
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    color: $gray;
    font-family: "OpenSansRegular";
    @media (min-width: $screen_tablet) {
      color: #3f454a;
    }
    &--icon {
      font-size: 18px;
      @media (min-width: $screen_tablet) {
        color: $gray;
      }
    }

  }
  &__right {
    @media (min-width: $screen_tablet) {
    width: 35%;
    text-align: right;
  }
  }
  &__stars {
    @media (min-width: $screen_tablet) {
      padding-right: 30px;
      display: inline-block;

    }
  }
  &__star {
    color: $blue;
    display: inline-block;
    font-size: 20px;
    padding-right: 5px;
    @media (min-width: $screen_tablet) {
    color: #727e88;
  }
  }
  &__namber {
    font-size: 14px;
    line-height: 24px;
    font-family: 'open_sanssemibold';
    font-weight: 400;
    color: #3f454a;
    padding-right: 8px;
    display: inline-block;
    @media (min-width: $screen_tablet) {
    color: #727e88;
    }
  }
  &__reviews {
    color: #a6b0b7;
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 15px;
    @media (min-width: $screen_tablet) {
    color: #727e88;
    }
  }
}
.followers {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-bottom: 20px;
  @media (min-width: $screen_tablet) {
    position: absolute;
    right: 42px;
    top: 264px;
    padding-bottom: 0;
    display: none;
  }
  &__plus {
    color: #a6b0b7;
    font-size: 30px;
    padding-right: 8px;
    cursor: pointer;
    @media (min-width: $screen_tablet) {
      padding-right: 15px;
    }
  }
  &__namber {
    line-height: 24px;
    font-size: 14px;
    margin: auto 0;
    padding-right: 8px;
    color: #3f454a;
  }
  &__text {
    font-size: 13px;
    line-height: 24px;
    margin: auto 0;
    color: #a6b0b7;
  }
}
.followers-two {

    padding-bottom: 20px;
    display: none;
    @media (min-width: $screen_tablet) {
      // margin-left: auto;
      padding-bottom: 0;
      // display: -webkit-flex;
      // display: -ms-flex;
      // display: flex;
      // align-items: center;
      display: inline-block;
      float: right;
      margin-top: 10px;
      position: absolute;
      bottom: 20px;
      right: 5px;
    }

  &__plus {
    color: #a6b0b7;
    font-size: 30px;
    padding-right: 8px;
    cursor: pointer;
    @media (min-width: $screen_tablet) {
      padding-right: 15px;
      vertical-align: middle;
    }
  }
  &__namber {
    line-height: 24px;
    font-size: 14px;
    margin: auto 0;
    padding-right: 8px;
    color: #3f454a;
    vertical-align: middle;
  }
  &__text {
    font-size: 13px;
    line-height: 24px;
    margin: auto 0;
    color: #a6b0b7;
    vertical-align: middle;
  }
}
.main-nav {

  @media (min-width: $screen_tablet) {
    max-width: 100%;
  }
  &__wrapper {
    background-color: #fff;
    // margin-bottom: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    @media (min-width: $screen_tablet) {
      padding-left: 180px;
      margin-bottom: 35px;
      font-size: 0;

    }
  }
  &__container {
    @include container-mobil;
  }
  &__items {
    // display: -webkit-flex;
    // display: -ms-flex;
    // display: flex;
    width: 100%;
   height: 50px;
   overflow: hidden;
   overflow-x: scroll;
     white-space:nowrap;
     position: relative;
     bottom: -10px;
    @media (min-width: $screen_tablet) {
      overflow-x: hidden;
    }
    & li {
      display: inline-block;
      vertical-align: top;
      width: 60px;
      height:60px;
      @media (min-width: $screen_tablet) {

      }
    }
  }
  &__item {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }

    & a {
      text-transform: uppercase;
      font-family: "OpenSansRegular";
      font-size: 14px;
      color: $black;

      &:hover {
        border-bottom: 2px $blue solid;
        padding-bottom: 13px;
        -webkit-padding-after: 15px;
          @media (min-width: $screen_tablet) {
            padding-bottom: 15px;
          }
      }
    }
    &--active {
      & a {
        border-bottom: 2px $blue solid;
        padding-bottom: 13px;
        -webkit-padding-after: 15px;
          @media (min-width: $screen_tablet) {
            padding-bottom: 15px;
          }
      }
    }
  }
}

.main-nav__item--list {
  position: relative;
  left: -7px;
}
