@import "mixins";
@import "variables";


.login-content {
  background-color: #fff;
  z-index: 100;
  display: none;
  position: absolute;
  top: 0;
  min-height: 1000px;
  width: 100%;

  @media (min-width: $screen_tablet) {
    background-image: url(../img/fullscreen_bg_image.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    min-height: 100%;

  }
  &__container {

    @media (min-width: $screen_tablet) {
      background-color: #fff;
      width: 400px;
      min-height: 370px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
      padding-bottom: 35px;
    }
    @media (min-width: $screen_desktop) {
      background-color: #fff;
      width: 500px;
      min-height: 470px;

    }
  }
  &__title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-top: 65px;
    padding-bottom: 80px;
    font-size: 24px;
    line-height: 25px;
    font-family: "OpenSansRegular";
    color: $black;

    @media (min-width: $screen_tablet) {
      padding-top: 55px;
      padding-bottom: 35px;
      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 84.5%;
        background-color: #d0dce7;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;

      }
    }
  }
  &--close {
    width: 15px;
    height: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 68px;
    right: 25px;

    &::before {
      content: '';
      position: absolute;
      width: 19px;
      height: 3px;
      background-color: #a8b8c4;
      border-radius: 1px;
      left: 0px;
      top: 9px;

      transform: rotate(45deg);
    }
    &::after {
      content: '';
      position: absolute;
      width: 19px;
      height: 3px;
      background-color: #a8b8c4;
      border-radius: 1px;
      left: 0px;
      top: 9px;

      transform: rotate(-45deg);
    }
  }
  &--show {
    display: block;
  }
}
.form {
  &__container {
    @include container;
  }
  &__group {
    position: relative;
    margin-bottom: 30px;
  }
  &__title {
    color: #53585c;
    font-size: 16px;
    line-height: 22px;
    font-family: "OpenSansRegular";
    text-transform: uppercase;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px #d0dce7 solid;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    padding: 10px;
    padding-left: 0;
    // padding: 7px 0;
    // margin-bottom: 10px;
    // display: block;
    // min-height: 30px;
    &:focus {
      outline: none;
    }
  }
  &__input {
    &:focus ~ label,
    &:valid ~ label {
      top: -15px;
      font-size: 12px;
      color: #a6b0b7;
    }
  }
  &__input--popup {
    &:focus ~ label,
    &:valid ~ label {
      top: -10px;
      font-size: 12px;
      color: #a6b0b7;
    }
  }
  &__bar {
    position: relative;
    display: block;
    width: 320px;
    // &:before,
    // &:after {
    //   content: '';
    //   height: 2px;
    //   width: 0;
    //   bottom: 0;
    //   position: absolute;
    //   background: #5264AE ;
    //   transition: 0.2s ease all;
    //   -moz-transition: 0.2s ease all;
    //   -webkit-transition: 0.2s ease all;
    // }
    &:before {
      left: 50%;
    }
    &:after{
      right: 50%;
    }
  }
  &__input:focus {
    ~ .form__bar:before,
    ~ .form__bar:after {
      width: 50%;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $gray;
    font-family: "OpenSansRegular";
    margin: 0;
    margin-top: 35px;
    @media (min-width: $screen_tablet) {
      text-align: center;
    }
  }
  &__link {
    text-decoration: none;
    color: $blue;
  }
}


.btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $blue;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  border: none;
  border-radius: 1px;
  padding: 11px 0;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  @media (min-width: $screen_tablet) {
    position: relative;
    margin-top: 30px;
    width: 84.5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
