@import "mixins";

.modal-rename {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 518px;
  left: 0;
  right: 0;
  &__container {
    @include container-mobil;
  }
  &__header {
    position: relative;
  }
  &__cancel {
    position: absolute;
    top: 25px;
    right: 75px;
  }
  &__save {
    position: absolute;
    top: 25px;
    right: 0;
  }
  &__btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    font-family: "OpenSansRegular";
    color: $blue;
    text-transform: uppercase;
  }
}
.modal-rename__show {
  display: block;
}
