@import "mixins";

.popup-city {
  display: none;
  @media (min-width: $screen_tablet) {
    background-color: #fff;
    padding: 22px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 260px;
    position: absolute;
    top: 496px;
    left: 220px;
    border-radius: 2px;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/Layer.png);
      background-repeat: no-repeat;
      width: 12px;
      height: 24px;
      left: -12px;
      top: 9px;
  }

  }
  &__btn {
    color: $blue;
    background-color: #fff;
    padding: 5px 30px;
    border: 1px $blue solid;
    border-radius: 2px;
    cursor: pointer;
    font-family: "OpenSans-Bold";
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }

}
.popup-namber {
  display: none;
  @media (min-width: $screen_tablet) {
    background-color: #fff;
    padding: 22px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 260px;
    position: absolute;
    top: 463px;
    left: 200px;
    border-radius: 2px;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/Layer.png);
      background-repeat: no-repeat;
      width: 12px;
      height: 24px;
      left: -12px;
      top: 9px;
    }
  }
}
.popup-site {
  display: none;
  @media (min-width: $screen_tablet) {
    background-color: #fff;
    padding: 22px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 260px;
    position: absolute;
    top: 437px;
    left: 200px;
    border-radius: 2px;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/Layer.png);
      background-repeat: no-repeat;
      width: 12px;
      height: 24px;
      left: -12px;
      top: 9px;
    }
  }
}
.popup-name {
  display: none;
  @media (min-width: $screen_tablet) {
    background-color: #fff;
    padding: 22px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 260px;
    position: absolute;
    top: 408px;
    left: 129px;
    border-radius: 2px;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../img/Layer.png);
      background-repeat: no-repeat;
      width: 12px;
      height: 24px;
      left: -12px;
      top: 9px;
    }
  }
}
// .form__input--popup{
//   padding-bottom: 5px;
// }
// .form__group--popup {
//   // margin-bottom: 15px;
// }
.popup-show {
  display: block;
}
