@import "mixins";
.profile-info {
  background-color: #fff;
  position: relative;
  padding-bottom: 200px;
  &__container {
    @include container-mobil;
  }
  &__heading {
    font-size: 20px;
    line-height: 22px;
    font-family: "OpenSansRegular";
    color: #727e88;
    padding: 25px 0;
    margin: 0;
    font-weight: 400;
  }
  &__rename {
    position: absolute;
    top: 20px;
    right: 30px;
    border: none;
    background-color: #ecf1f5;
    color: #727e88;
    font-size: 20px;
    @media (min-width: $screen_tablet) {
      display: none;
    }
  }

  &__name,
  &__lastname {
    font-size: 20px;
    line-height: 22px;
    color: #3f454a;
    font-family: 'open_sanssemibold';
    font-weight: 400;
    display: inline-block;
    @media (min-width: $screen_tablet) {
      font-size: 14px;
      background-color: #f5f8f8;
      display: none;
    }
  }

  &__nameLastname {
    display: none;
    @media (min-width: $screen_tablet) {
      font-size: 14px;
      background-color: #f5f8f8;
      display: block;
      line-height: 22px;
      color: #3f454a;
      font-family: 'open_sanssemibold';
      font-weight: 400;
      width: 111px;
      margin-bottom: 3px;
      padding-left: 5px;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 22px;
    color: #727e88;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: "OpenSansRegular";
    @media (min-width: $screen_tablet) {
      display: none;
    }
  }
  &__site,
  &__phone,
  &__cityName{
    font-size: 14px;
    line-height: 22px;
    color: #53585c;
    font-family: "OpenSansRegular";
    padding-bottom: 10px;
    @media (min-width: $screen_tablet) {
      background-color: #f5f8f8;
      padding-bottom: 0;
      margin-bottom: 3px;
      padding-left: 5px;
    }

    &--icon,
    &--icon,
    &--icon {
      color: #a8b8c4;
      font-size: 18px;
      padding-right: 10px;
    }
  }
  &__site {
    @media (min-width: $screen_tablet) {
      width: 175px;
    }
  }
  &__phone {
    @media (min-width: $screen_tablet) {
      width: 185px;
    }
  }
  &__cityName {
    @media (min-width: $screen_tablet) {
      width: 200px;
    }
  }
  &__rename--two {
    position: absolute;
    border: none;
    background-color: #ecf1f5;
    color: #727e88;
    font-size: 20px;
    display: none;
    @media (min-width: $screen_tablet) {
      display: inline-block;
      position: relative;
      top: 0;
      right: -20px;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}
