@import "mixins";

.settings {
  background-color: #fff;
  padding-bottom: 100px;
}
.profile-settings {
  &__heading{
    font-size: 20px;
    line-height: 22px;
    font-family: "OpenSansRegular";
    color: #727e88;
    padding: 25px 0;
    margin: 0;
    font-weight: 400;
    @media (min-width: $screen_tablet) {
      display: none;
    }
  }
  &__heading--tablet {
    font-size: 24px;
    line-height: 22px;
    font-family: "OpenSansRegular";
    color: #727e88;
    padding: 25px 0;
    margin: 0;
    font-weight: 400;
    display: none;
    @media (min-width: $screen_tablet) {
      display: block;
    }
  }
}
.form__title--setting {
  font-size: 16px;
  text-transform: none;
  color: #53585c;
}
.form__input--setting {

  @media (min-width: $screen_tablet) {
    width: 270px;
  }
}
.form__group {
  @media (min-width: $screen_tablet) {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }
}
.modal-rename__cancel,
.modal-rename__save {
  @media (min-width: $screen_tablet) {
    display: none;
  }
}
.modal-rename__btn--setting {
  display: none;
  @media (min-width: $screen_tablet) {
    margin-top: 10px;

    color: #fff;
    background-color: $blue;
    padding: 5px 35px;
    border-radius: 2px;
  }

}
